body {
	background: #777;
	display:block;
	font-family: verdana;
	height:100vh;
	position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
}

.spacer{
	margin: 25px 25px 0 0;
}
.msg{
	display: inline-block;
	position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#wrapper {
	background: #777;
    max-width: 100%;
    padding: 25px;
    width: calc(100% - 50px);
	height: calc(100% - 50px);
	margin: 0 auto;
	overflow:hidden;
	display:block;
    top: 0; bottom: 0; left: 0; right: 0;
}

.hidden {
	display: none;
}

.fullscreen {
	height: 100vh !important;
	width: 100vw !important;
}

canvas#glCanvas {
	background:white;	
	max-width: 100%;
	width: calc(75vw - 70px);
	height: calc((75vw - 70px) * 0.5625);
	display: block;
	border:1px solid #000000;
	margin: auto;
	
}

#game{
	display:block;
	position: relative;
	width: 100%;
	background:#ccc;
	margin: auto;
}

#navigation button {
	float: right;
	height: 50px;
	width: 50px;
	margin-left:25px;
}

#navigation {
	position: relative;
	background: #ccc;
	padding: 10px 25px;
	
}

#navigation:after{
	content:"";
	display: table;
	clear:both;
}